footer{
    background-color: #e6e6e6;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fa-brands{
    font-size: 40px;
    cursor: pointer;
    transition: 4s;
}
.redes{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 20px;
}

