footer{
    background-color: #e6e6e6;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 10%;
    width: 100%;
}

.fa-brands{
    font-size: 40px;
}
.redes{
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

