.fotoclase {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.iconPrincipios {
    @include flexbox(center, center);
    padding: 30px 10px;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 40px;

    &.fa-graduation-cap {
        background-color: #ffa834;
    }

    &.fa-face-smile {
        background-color: #fa5b50;
    }
    &.fa-spa {
        background-color: #72bb53;
    }
    }

.card{
    @include flexbox(center, center);
    
}


.novedades {
    padding: 10px;
    margin: 10px;
    background-color: #89c9e787;
    border: solid 2px black;

h2 {
    font-size: 40px;
    margin: 15px;
    }


}
.carousel-item{
    h5, p {
        color: #000;
        font-weight: bold;
    }
}
#NovedadesTexto {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
}

@media (max-width: 768px) {
    .fotoclase{
        height: 150px;
    
    }
}